
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}


video {
  display: flex;
  justify-content: stretch
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.columnstat {
  justify-content: center;
  float: left;
  width: 33.33%;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.searchimg{
  width: 100%;
}


.loginbutton {
  padding: .9rem 3rem;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(28, 26, 26);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.imglogin {
  margin-top: -15px;
  width: 50%;
  justify-content: center;
}

.loginbutton:hover {
  background-color: rgb(36, 204, 36);
}

.signin {
  justify-content: center;
  text-align: center;
}

.inputlogin {
  text-align: center;
  justify-content: center;
}

h5 {
  font-size: large;
  margin-top: -50px;
  margin-bottom: 10px;
}


img {
  max-width: 100%;
  height: auto;
}

.nav-logo-container {
  margin-top: 20px;
  width: 20%;

}


.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
}

nav {
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 2.1rem;
  font-weight: 600;
}

.dropdown-container {
  position: relative;
}
.dropdown {
position: absolute;
text-align: center;
align-items: center;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgb(36, 204, 36);
  z-index: 1000;
  font-size: large;
  margin-left: 3%;
}

.dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}
.about {
  width: 75%;
}

.hithere{
  font-size: large;

  margin-right: 15px;
  text-align: center;
}
.primary-button1 {
  padding: .9rem 3rem;
  margin-right: 10px;
  color: white;
  background-color: rgb(28, 26, 26);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button11 {
  padding: .9rem 3rem;
  margin-right: 160px;
  color: white;
  background-color: rgb(28, 26, 26);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button2 {
  padding: .9rem 3rem;

  margin-right: 130px;
  color: white;
  background-color: rgb(28, 26, 26);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button3 {
  padding: .9rem 3rem;
  margin-right: 10px;
  color: white;
  background-color: rgb(28, 26, 26);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button1:hover {
  background-color: rgb(36, 204, 36);
}

.primary-button2:hover {
  background-color: rgb(36, 204, 36);
}

.primary-button3:hover {
  background-color: rgb(36, 204, 36);
}
.navbar-menu-container svg {
  font-size: 2.5rem;
  cursor: pointer;
}

.home-banner-container {
  margin-top: -80px;
  margin-left: 160px;
  margin-right: 60px;
  position: relative;
  display: flex;
}

.home-banner-container1 {
  margin-top: -80px;
  margin-left: 160px;
  margin-right: 60px;
  position: relative;
  display: flex;
}


.home-bannerImage-container {
  position: absolute;
  right: -170px;
  z-index: -3;
  max-width: 700px;
}

.home-image-section {
  min-width: 400px;
  flex: 1;
}



.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-text-section2 {
  margin-left: 180px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
  position: relative;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}


.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: rgb(36, 204, 36);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: black;
}

.about-section-container {
  margin-right: 165px;
  margin-left: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-section-wrapper {
  margin-top: 10rem;
}

.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}

.work-section-top h1 {
  max-width: 700px !important;
}

.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.work-section-info h2 {
  margin: 1rem 0rem;
}

.work-section-bottom {
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.about {

  width: 60%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(79deg, rgb(208, 247, 208), rgb(155, 247, 155), 45%, rgb(36, 204, 36));
  min-height: 70px;
  font-size: large;
}

.footer-image {
  display: flex;
  height: 190px;
}

.foot-title {
  display: flex;
  align-items: center;

}

.foot-logo {
  height: 190px;
}






.register {
  font-size: small;
}

.loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 17%;
  padding: 1rem 8.5rem;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;

}

.loginbutton:hover {
  background-color: rgb(36, 204, 36);
  ;
}

.inputlogin {
  font-size: small;

}

.signin {
  margin-top: -100;
}

.cardpic {
  display: flex;
  margin: auto;
}





.ingredientform {
  display: flex;
}
  .formtext {
  flex-wrap: wrap;
  text-align: center;
}

.ingredientinput {


  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
  height: 90%;
}

.addbutton {
margin-top: 10px;
  background-color: black;
  border: none;
  outline: none;
  border: none;
  border-radius: 5rem;

}

.addbutton:hover {
  background-color: rgb(36, 204, 36);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  font-size: large;
  margin-top: 17;
  max-width: 200px;
  width: 200px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.listing {
  list-style: none;

  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  margin-left:5px;
  font-size: medium;
  text-decoration: none;
}

video {
  width: 100%;
  height: 100%;

}


.secondary-button3 {
  padding: 1rem 2.5rem;
  background-color: rgb(36, 204, 36);
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.secondary-button3:hover {
  background-color: black;
}




figure {
  display: flex;
  margin-bottom: 25px;

}

.url {

  color: black;
  font-weight: 400;

  text-align: center;
  justify-content: center;
  font-size: small;
}

.shoppingbutton {
  display: flex;

  padding: .5rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: small;
  background-color: black;
  color: white;

}

.shoppingbutton:hover {
  background-color: rgb(36, 204, 36);
}

.recipecard-title {
  margin-top: 5px;
  font-weight: 800;
}

.recipecard{
flex-wrap: 2;
  min-width: 600px;
  max-width: 600px;
  max-height: 500px;
}
.recipeimg{
  height: 100%
}
ul {

  display: inline-block;
  justify-content: space-evenly;
  align-items: center;

}

.bookbutton {
  display: flex;
  margin-top: 20px;
  padding: .5rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: small;
  background-color: black;
  color: white;

}

.bookbutton:hover {
  background-color: rgb(36, 204, 36);
}

.cardcard {
  margin-top: 50px;
}